<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
">
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/db/application.properties"/>
          
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:url="${SPRING_DATASOURCE_URL}" p:driverClassName="${SPRING_DATASOURCE_DRIVER_CLASS_NAME}"
          p:username="${SPRING_DATASOURCE_USER}" p:password="${SPRING_DATASOURCE_PASSWORD}"/>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <property name="packagesToScan" value="com.utsicom.*"/>
        <property name="hibernateProperties">
            <props>

                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>

                <prop  key="hibernate.show_sql">true</prop>

            </props>
        </property>
    </bean>
    
   
</beans>
